{% extends "blog/base.html"%}
{% block content %}

    <h1>About Cafeblog</h1>

            <p>This blog was designed utilizing primarily python and the framework called Django. This pet project was to provide me a better understanding of the python syntax as well as gaining the foundational aspects of implementing the Django framework.</p>

            <p><b>View Developer's Profile: </b></p>

            <p><li><a href="https://github.com/mandres2">GitHub Repository</a></p>

            <p><li><a href="https://mandres2.github.io/developer_portfolio/">Developer Portfolio</a></p>

{% endblock content %}